
.guidelines {
	@media screen and (max-width: 768px) {
		margin-top: 25px;
	}

	.guidelines-content {
		padding       : 50px 40px;
		font-size     : 14px;
		font-weight   : 400;
		color         : #727272;
		// text-align : center;
		line-height   : 2.0rem;

		@media screen and (max-width: 425px) {
			font-size : 12px;
			text-align: justify;
			padding   : 35px 25px;
		}

		.ml-49 {
			margin-left: 49px;
		}

		.font-bold {
			font-weight: 600;
			// color: #151515;
			color      : #eba12f;
		}

		.font-tiny {
			// color: #727272;
			font-weight: 700;
			color      : #565656;
		}

		.font-gold {
			// color: #f7a32c;
			font-weight   : 600;
			// font-size  : 16px;
			color         : #eba12f;

			@media screen and (max-width: 425px) {
				font-size: 13px;
			}
		}

		.btn-container {
			display    : flex;
			align-items: center;

			@media screen and (max-width: 1024px) {
				display              : grid;
				grid-template-columns: 1fr;
			}

			@media screen and (max-width: 768px) {
				display              : flex;
				grid-template-columns: unset;
			}

			@media screen and (max-width: 425px) {
				display              : grid;
				grid-template-columns: 1fr;
			}

			.btn-red {
				img {
					margin-right: 10px;
					width       : 20px;

					@media screen and (max-width: 425px) {
						width: 15px;
					}
				}

				display            : flex;
				align-items        : center;
				justify-content    : center;
				font-size          : 12px;
				font-weight        : 600;
				padding            : 6px 0px;
				cursor             : pointer;
				// background-color: #ff2525;
				color              : #fff;
				border             : none;
				margin-right       : 10px;
				background-color   : #eba12f;

				@media screen and (max-width: 1024px) {
					width        : 100%;
					font-size    : 10px;
					margin-bottom: 10px;
				}

				@media screen and (max-width: 768px) {
					font-size    : 12px;
					margin-bottom: unset;
				}

				@media screen and (max-width: 425px) {
					width        : 100%;
					font-size    : 10px;
					margin-bottom: 10px;
				}
			}

			.btn-green {
				img {
					margin-right: 10px;
					width       : 20px;

					@media screen and (max-width: 425px) {
						width: 15px;
					}

					@media screen and (max-width: 320px) {
						margin-left: 25px;
					}
				}

				display            : flex;
				align-items        : center;
				justify-content    : center;
				font-size          : 12px;
				font-weight        : 600;
				padding            : 6px 0px;
				cursor             : pointer;
				// background-color: #1da03d;
				color              : #fff;
				border             : none;
				background-color   :#21a480;

				@media screen and (max-width: 425px) {
					width    : 100%;
					font-size: 10px;
				}

				// @media screen and (max-width: 320px)
				// {
				//     line-height: 1rem;
				// }
			}
		}


		@media screen and (max-width: 425px) {
			text-align: center;
		}
	}
}

.custom-box__container {
	margin    : auto;
	width     : 50%;
	margin-top: 99px;

	.custom-box {
		margin-bottom     : 25px;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow   : 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

		.custom-box__title {
			color           : #fff;
			display         : flex;
			align-items     : center;
			background-color: #eba12f;
			padding         : 25px 20px;

			.custom-box__title-icon {
				margin-right: 15px;

				img {
					width: 25px;
				}
			}

			.custom-box__title-label {
				font-size  : 15px;
				font-weight: 600;
			}
		}

		.custom-box__info {
			background-color: #fff;
		}
	}
}

.register__form {

	.form__title {
		font-size: 19px;
	}

	.form__sub-title {
		font-size    : 13px;
		font-weight  : 600;
		margin-bottom: 15px;
	}

	input[type=text],
	select {
		width        : 100%;
		padding      : 12px 20px;
		margin       : 8px 0;
		display      : block;
		border       : 1px solid #ccc;
		border-radius: 4px;
		box-sizing   : border-box;
	}


	input[type=date],
	select {
		width        : 100%;
		padding      : 12px 20px;
		margin       : 8px 0;
		display      : block;
		border       : 1px solid #ccc;
		border-radius: 4px;
		box-sizing   : border-box;
	}

	input[type=submit] {
		width           : 100%;
		background-color: #04AA6D;
		color           : white;
		padding         : 14px 20px;
		margin          : 8px 0;
		border          : none;
		border-radius   : 4px;
		cursor          : pointer;
	}

	input[type=submit]:hover {
		background-color: #45a049;
	}

	div.container {
		border-radius   : 5px;
		background-color: #f2f2f2;
		padding         : 20px;
	}

}

.btn-holder {
	display: flex;

	.btn-next {
		margin-left: 84%;
	}

}

.form__spacing {
	border-bottom: 1px solid;
	margin-bottom: 16px;
	margin-top   : 17px;
	font-size    : 12px;
	font-weight  : 600;
	border-color : gainsboro;
}
