<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <div class="custom-box__container">
        <div class="custom-box guidelines">
            <div class="custom-box__title">
                <div class="custom-box__title-label">List of Family</div>
            </div>
            <div class="custom-box__info guidelines__body">
                <div class="guidelines-content">
                    <div class="table-responsive-xl table-custom">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col">List</th>
                                    <th class="text-center" scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody *ngIf="family_list">
                                <tr *ngFor="let list of family_list">
                                    <td class="text-center view" title="View" (click)="get_info(list.family_id)" onclick="document.getElementById('id01').style.display='block'">Family
                                        {{list.family_id}}</td>
                                    <td class="text-center">
                                        <button class="btn" (click)="delete(list.family_id)">Delete</button>
                                    </td>

                                </tr>
                                <tr *ngIf="!family_list">
                                    <td colspan="2" class="text-center">No Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- POPUP - VIEW FAMILY -->
    <div class="w3-container">
        <div id="id01" class="w3-modal">

            <div class="custom-box__container">
                <div class="custom-box guidelines">
                    <div class="custom-box__title">
                        <div class="custom-box__title-label">Family {{family_id}}</div>
                        <button onclick="document.getElementById('id01').style.display='none'" type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-box__info guidelines__body">
                        <div class="guidelines-content">
                            <div class="table-responsive-xl table-custom">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">Last Name</th>
                                            <th class="text-center" scope="col">First Name</th>
                                            <th class="text-center" scope="col">Middle Name</th>
                                            <th class="text-center" scope="col">Date of Birth</th>
                                            <th class="text-center" scope="col">Relation</th>
                                            <th class="text-center" scope="col">Date Registered</th>
                                            <th class="text-center" scope="col">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody *ngIf="family_info">
                                        <tr *ngFor="let list of family_info" data-toggle="modal">
                                            <td class="text-center view" title="View">
                                                {{list.last_name}}</td>
                                            <td class="text-center view" title="View">
                                                {{list.first_name}}</td>
                                            <td class="text-center view" title="View">
                                                {{list.middle_name}}</td>
                                            <td class="text-center view" title="View">
                                                {{list.birthdate}}</td>
                                            <td class="text-center view" title="View">
                                                {{list.relationship}}</td>
                                            <td class="text-center view" title="View">
                                                {{list.created_at}}</td>
                                            <td class="text-center view" title="View">
                                                <button class="btn" (click)="edit(list.id)"  onclick="document.getElementById('id02').style.display='block'">Edit</button></td>

                                        </tr>
                                        <tr *ngIf="!family_info">
                                            <td colspan="6" class="text-center">No Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w3-container">
        <div id="id02" class="w3-modal">

            <div class="custom-box__container">
                <div class="custom-box guidelines">
                    <div class="custom-box__title">
                        <div class="custom-box__title-label">Update Infomation</div>
                        <button onclick="document.getElementById('id02').style.display='none'" type="button"
                            class="close close__update" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="custom-box__info guidelines__body">
                        <div class="guidelines-content">
                            <div class="guidelines-content">
                                <div class="register__form">
                                    <form *ngIf="family_single_data">
                                        <label for="lname">Last Name</label>
                                        <input type="text" id="lname" name="father_lastname" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="family_single_data.last_name" placeholder="Last Name" required>
                                        
                                        <label for="fname">First Name</label>
                                        <input type="text" id="fname" name="father_firstname" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="family_single_data.first_name" placeholder="First Name" required>
        
                                        <label for="lname">Middle Name</label>
                                        <input type="text" id="mname" name="father_middlename" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="family_single_data.middle_name" placeholder="Middle Name" required>
        
                                        <label for="lname">Date of Birth</label>
                                        <input type="date"  name="father_birthdate" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="family_single_data.birthdate" required>
                                    </form>
                                </div>
                                <div class="btn-holder">
                                    <button class="btn btn-update"
                                        (click)="update(family_single_data.id)" onclick="document.getElementById('id02').style.display='none'">Update</button>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>