<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="landing__container">

    <div class="container">
        
        <div class="landing__content">
            <div class="landing__title">We won't succeed without trying our best</div>
            <div class="landing__sub-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis quisquam
                quaerat natus in! Aperiam neque optio animi culpa iusto cumque omnis quis.</div>
                <br>
                <div>
                    <a href="{{ rest.domain + '/family/load_family_list' + '?' + arrayToQueryString(this.data) }}"><button >Click Here</button></a>
                    <button  [routerLink]="['/family/register']" class="btn-start">GET STARTED</button>
                </div>
            </div>
            
        </div>
        
    </body>
    
    </html>